* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(136, 132, 132);
    height: 100vh;
    background-size: cover;
    overflow: hidden;
  }

  video {
      position: absolute;
      min-width: 100%;
      min-height: 100vh;
      z-index: -1;
      opacity: 0.75;
  }

  .scoreBoard {
      width: 600px;
      height: 400px;
      background-color: black;
      box-shadow: 5px 5px 5px 0.5px;
      margin-top: 80px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      border: 10px solid white;

  }

  .scoreSquare {
      background-color: black;
      width: 200px;
      height: 130px;
      display: flex;
      justify-content: center;
      border: 2.5px solid white;
      
  }

  .squadre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
  }

  .divPunteggi {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      position: relative; 
      margin-bottom: 40px;    
  }


  h2 {
      display: inline-block;
      color: white;
      font-size: 5rem;
      font-family: 'Quantico', sans-serif;
      margin: 0;
  }

  h3 {
      color: red;
      font-size: 5rem;
      font-weight: 800;
      margin: 0;
      padding: 0;
      font-family: 'Quantico', sans-serif;
  }


  .console {
      width: 400px;
      height: 200px;
      background-color: darkgray;
      margin-top: 40px;
      margin-bottom:100px;
      box-shadow: 2px 2px 2px 0.7px;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .divBottoni {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
    flex-wrap: wrap;
  }

  .bottone {
    width:50px;
    height: 50px;
    margin: 8px;
    border-radius: 100px;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    
  }

  .bottoneReset {
      width: 60%;
      border-radius: 20px;
      margin: 10px 30px 10px 30px;
      cursor: pointer;
      font-family: 'Quantico', sans-serif;
      font-size: 1rem;
  }


  .countdownEl {
      color: green;
      margin: 0;
    
      display: flex;
      justify-content: center;
      font-family: 'Quantico', sans-serif;
      font-size: 5rem;
      padding: 0;
  }

  #copyright {
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 0;
    
    font-size: 0.6rem;
  }